.sd-property-container{float:left;}
.sd-comment{color:#CCC;font-style:italic;}
.sd_more_info{ border: 1px solid #E6DB55; background-color: #FFFFE0; padding: 10px; margin: 10px 0; display:none; }

.sd-section-title,
.sd-chart-title{ font-size: 18px; font-weight: bold;margin:10px 0;}
.sd-chart-legend{float:left; padding:10px; background:#FFFFFF; border: 1px solid #dfdfdf; }
.sd-legend-color{height:16px;width:20px;float:left;margin-right:10px;}
.sd-legend-text{float:left;clear:right;}
.sd-paypal-data{ border: 1px solid #EEEEEE; padding: 0 10px 10px 10px; margin: 10px 0; }
#sd_layout_thumbnail img{ margin-top: 10px; }