.sell-downloads-pagination{text-align:center;position:relative;clear:both;}
.sell-downloads-pagination .page-link{margin:0 5px;display:inline;}
.sell-downloads-pagination .page-selected{font-weight:bold;}

.sell-downloads-item {display:inline-block;}
.sell-downloads-items{display:inline-block;}

.sell-downloads-header{width:100%;position:relative;clear:both;}
.sell-downloads-filters{float:left;}
.sell-downloads-ordering{float:right;}

.sell-downloads-product .product-cover{width:150px;}

.sell-downloads-product .product-cover.single{width:250px;}

.sell-downloads-product .product-cover img{width:100%;}

/** COLUMNS ON MULTIPLE PAGES **/
.sell-downloads-product .left-column{float:left;}
.sell-downloads-product .right-column{	float:left; padding-left:10px; width:-moz-calc(100% - 260px); width:-webkit-calc(100% - 260px);	width:calc(100% - 160px);}

/** COLUMNS ON SINGLE PAGES **/
.sd_product .entry-title{display:none;}

.sell-downloads-product .left-column{float:left;}
.sell-downloads-product .right-column{	float:left; padding-left:10px; width:-moz-calc(100% - 260px); width:-webkit-calc(100% - 260px);	width:calc(100% - 260px);}

.sell-downloads-product .product-title{font-weight:bold;}

.sell-downloads-product .product-title.single{font-weight:normal; font-size:1.7em;}
.sell-downloads-product .label{font-weight:normal; font-style:italic;}

.sell-downloads-product .product-type ul{padding:0; margin:0;}
.sell-downloads-product .product-type li{padding:0; margin:0 5px 0 0; display:inline-block;font-size:90%;}
.sell-downloads-product .product-type li .arrow{color: #E47911; font-size: 120%; font-weight: bold; margin-right: 0.2em;}

.sell-downloads-product a{text-decoration:none;}

.sell-downloads-product .product-price{color: #990000; text-transform:lowercase;}

.sell-downloads-product .product-price.single{font-size:0.75em;color: #333;display:inline-block;background-color:#EFEFEF;padding:0 10px;-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; text-shadow: 1px 1px #FFF;}

.sell-downloads-product .product-info{text-align:right;}

.explain-text{font-style:italic;font-size:0.9em;}

.sd_product .entry-header{display:none;}

.sell-downloads-tabs{list-style: none outside none;margin: 0 0 1.618em;overflow: hidden;padding: 0 0 0 1em;position: relative;}
.sell-downloads-tabs:before{border-bottom: 1px solid #E0DADF;bottom: 0;content: " ";left: 0;position: absolute;width: 100%;z-index: 1;}
.sell-downloads-tabs li{
	background: #f7f6f7;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjZmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMGRhZGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #f7f6f7 0%, #e0dadf 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f6f7), color-stop(100%,#e0dadf));
	background: -webkit-linear-gradient(top, #f7f6f7 0%,#e0dadf 100%);
	background: -o-linear-gradient(top, #f7f6f7 0%,#e0dadf 100%);
	background: -ms-linear-gradient(top, #f7f6f7 0%,#e0dadf 100%);
	background: linear-gradient(to bottom, #f7f6f7 0%,#e0dadf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f6f7', endColorstr='#e0dadf',GradientType=0 );
	border: 1px solid #E0DADF;border-top-left-radius: 4px;border-top-right-radius: 4px;box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.6) inset;display: inline-block;margin: 0 -5px;padding: 0 1em;position: relative;z-index: 0;cursor:pointer;}
.sell-downloads-tabs li:after{border-bottom-left-radius: 4px;box-shadow: -2px 2px 0 #E0DADF;right: -6px;bottom: -1px;border: 1px solid #E0DADF;border-width: 0px 0px 1px 1px;content: " ";height: 5px;position: absolute;width: 5px;}
.sell-downloads-tabs li:before{border-bottom-right-radius: 4px;box-shadow: 2px 2px 0 #E0DADF;left: -6px;bottom: -1px;border: 1px solid #E0DADF;border-width: 0 1px 1px 0;content: " ";height: 5px;position: absolute;width: 5px;}
.sell-downloads-tabs li.active-tab {background: none repeat scroll 0 0 #FFFFFF;border-bottom-color: #FFFFFF;z-index: 2;}	
.sell-downloads-tabs li.active-tab:after {box-shadow: -2px 2px 0 #FFFFFF;}
.sell-downloads-tabs li.active-tab:before {box-shadow: 2px 2px 0 #FFFFFF;}
.sell-downloads-tabs-container{display:none;}
.sell-downloads-tabs-container.active-tab{display:block;}

.clear {clear: both;}

.sd-error-mssg{ border: 1px solid #FF0000; color: #FF0000; text-align:center; width:100%; }
.sd-error-mssg ul{ list-style:none; }

.sd-demo-container{ background: #FFFFFF; text-align:center; }
.sd-demo{
	height:100%;
	overflow:hidden;
}

.sd-demo-head{
	top:0;
	height: 30px;
	background: #333333;
	text-align:right;
}

.sd-demo-head a{
	color: #FFFFFF;
	text-decoration: none;
	margin-right: 20px;
}

@media screen and (max-width:600px) {
	.sell-downloads-item{clear:both;}
	.sell-downloads-header span{display: inline-block;clear:both;float:left;}
	.sell-downloads-ordering{float:left;}
	.sell-downloads-product .left-column{width: 100%; clear: both;}
	.sell-downloads-product .right-column{padding-left:0; width:100%;}
}